/* footer */
.footer {
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-position: top center;
    width: 100%;
    height: 370px;
}
.Footer__row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 15px 50px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .Footer__row {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;

        padding: 50px;
        margin: auto -50px;
    }
}

@media only screen and (min-width: 992px) {
    .footer {
        height: 200px;
    }
    .Footer__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        margin: auto -50px;
    }
}
/* footer-left */

.Footer__social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -20px;
    margin-top: 25px;
}

.Footer__social-list > li {
    color: gray;
    padding-left: 25px;
}

/* Footer-right */
.footer-right {
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    .footer-right {
        padding-top: 0px;
    }
}

.Footer__user-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
    padding: 30px 10px 40px auto;
}

@media only screen and (min-width: 768px) {
    .Footer__user-list {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 auto 40px auto;
    }
}

@media only screen and (min-width: 992px) {
    .Footer__user-list {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 auto 40px auto;
    }
}
.Footer__user-list a {
    color: black;
    font-weight: bold;
}

.Footer__copyright {
    color: gray;
    padding-top: 15px;
}

@media only screen and (min-width: 768px) {
    .Footer__copyright {
        color: gray;
        padding-top: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .Footer__copyright {
        color: gray;
        padding-top: 40px;
    }
}
