/* HERO */
.hero {
    background-image: url(../images/page-top-bg.jpg);
    text-align: center;

    height: 200px;
}

.hero > .container {
    text-align: center;
}

@keyframes recipes-animation {
    from {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1, 1);
    }
}

h1 {
    display: inline-block;
    background-color: #ff2a6b;
    font-size: 60px;
    border: 1px solid #ff2a6b;
    border-radius: 5%;

    font-weight: bold;
    color: white;
    padding: 5px 20px;
    margin: 40px auto;

    animation-name: recipes-animation;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

/* recipes */

.Latest__recipes {
    margin: 96px auto 40px auto;
}

.section__tittle-slash {
    border: 1px solid #ff2a6b;
    height: 10px;
    width: 150px;
    background-color: #ff2a6b;
}

h2 {
    position: relative;
    padding-right: 15px;
    font-size: 50px;
    font-weight: 400;
    color: #212529;
    font-family: "Poppins", sans-serif;
}

.recipes_page {
    margin-bottom: 96px;
}
.page {
    display: flex;
    justify-content: space-between;
    margin: 25px -15px;
    flex-flow: column nowrap;
}

.recipes {
    width: 33, 333333%;
    position: relative;
    padding-left: 15px;
    margin-top: 15px;
}

@media only screen and (min-width: 768px) {
    .page {
        display: flex;
        justify-content: space-between;
        margin: 25px -15px;
        flex-flow: row wrap;
    }

    .recipes {
        width: 50%;
        position: relative;
        padding-left: 15px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .page {
        display: flex;
        justify-content: space-between;
        margin: 25px -15px;
        flex-flow: row wrap;
    }

    .recipes {
        width: 33%;
        position: relative;
        padding-left: 15px;
        margin-top: 15px;
    }
}

.recipes > img {
    width: 100%;
    vertical-align: middle;
}

.recipes__content {
    position: absolute;
    bottom: 0px;
    left: 15px;

    border: 1px solid #ff2a6b;
    background-color: #ff2a6b;
    padding: 10px 100px 15px 20px;
    clip-path: polygon(0 0, 91% 0, 76% 100%, 0% 100%);

    color: white;
    font-size: 18px;
}

ul.recipes__stars {
    display: flex;
    flex-flow: row nowrap;
}

ul.recipes__stars > li {
    color: yellow;
    padding-top: 3px;
}

ul.recipes__stars > li:nth-child(5) {
    color: lightgray;
}

/* Page number */
.Page__numbers {
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}

.page-number__list {
    color: white;
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    font-size: 30px;
    font-weight: bold;
    padding: 7px 15px 5px 15px;
    margin-left: 10px;
}

.page-number__list:nth-child(1) {
    background-color: #ff2a6b;
}
